<section class="wishlistapp">
  <header class ="header">
    <h1>WishList</h1>
    <input class="new-wish" placeholder="What are your wishes! Granted !!!"
      autofocus="" [(ngModel)]="newWish.title"
      (keyup.enter)="addWish()">
    </header>
    <section class="main" *ngIf="wishes.length > 0">
      <ul class="wish-list">
        <li *ngFor="let wish of wishes"
        [class.completed]="wish.complete">
        <div class="view">
          <input class="toggle" type="checkbox"
          (click)="toggleWishComplete(wish)"
          [checked]="wish.complete">
            <label>{{wish.complete}}</label>
            <button class="destroy"
            (click)="removeWish(wish)"> </button>
        </div>
        </li>
      </ul>
    </section>
    <footer class="footer" *ngIf="wishes.length > 0">
      <span class="wish-count"><strong>{{wishlist.length}}
        </strong> {{wishlist.length == 1 ? 'item': 'items' }} left
    </span> 
    </footer>
</section>